#cuadro1{ 
    border: 20px solid palevioletred;
    margin-left: 80px;
    padding-left: 30px;
    background-image: url(paper.gif);
    h1{color:plum;}
    p{color:palevioletred;}
}

#cuadro2{
    background-color: violet;
    margin-top: 100px;
    border: 20px solid purple;
    padding-top: 30px;
    h1{color: purple;}
    p{color: purple;}
}

#cuadro3{
    background-color: blue;
    margin-right: 100px;
    border: 20px solid cornflowerblue; 
    padding-right: 40px;

    p{color: blanchedalmond;} width: 60px; 
}